name: build

on:
  pull_request:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'alfred'
            path: 'nixosConfigurations."alfred".config.system.build.toplevel'
            os: ubuntu-24.04
          - name: 'rpi5'
            path: 'nixosConfigurations."rpi5".config.system.build.toplevel'
            os: ubuntu-24.04-arm
          - name: 'jamie@alfred'
            path: 'homeConfigurations."jamie@alfred".activationPackage'
            os: ubuntu-24.04
          - name: 'jamie@rpi5'
            path: 'homeConfigurations."jamie@rpi5".activationPackage'
            os: ubuntu-24.04-arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - name: Install cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: jamiemagee
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      # - name: Check flake
      #   run: nix flake check

      - name: Build ${{ matrix.name }}
        run: nix build --accept-flake-config ".#${{ matrix.path }}"
